<div *ngIf="!authorized" class="no-user">
	{{authorized}}
	<app-login [userName]="name" (sent)="setUser($event)">
	</app-login>

</div>

<div *ngIf="authorized" class="full-height">

	<div class="sidebar">
		<app-users></app-users>
	</div>

	<div class="content">
		<div class="content-user-info">
			{{user.name}}
		</div>

		<div class="content-messages">
			<app-messages></app-messages>
		</div>

		<div class="content-message-send">
			<app-message-send></app-message-send>
		</div>
	</div>
</div>